In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
athletes = pd.read_csv('athlete_events.csv')
athletes.shape

(271116, 15)

In [3]:
GDP = pd.read_excel('w_gdp.xls', skiprows=3)
GDP.shape

(219, 62)

In [4]:
noc = pd.read_csv('noc_regions.csv')
noc.shape

(230, 3)

In [5]:
noc.drop(['notes'], axis=1, inplace=True)

In [6]:
GDP.drop(['Indicator Name', 'Indicator Code'], axis=1, inplace=True)

In [7]:
#new_header = GDP.iloc[2] 
#GDP = GDP[3:] 
#GDP.columns = new_header

In [8]:
GDP.head(3)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,AFG,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.921556e+10,1.946902e+10,NaN
1,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.133526e+10,1.186387e+10,NaN
2,Algeria,DZA,2.723649e+09,2.434777e+09,2.001469e+09,2.703015e+09,2.909352e+09,3.136259e+09,3.039835e+09,3.370843e+09,...,1.710007e+11,1.372110e+11,1.612073e+11,2.000191e+11,2.090590e+11,2.097550e+11,2.138100e+11,1.658743e+11,1.590491e+11,NaN

In [9]:
#GDP.reset_index(drop =True).head(3)

In [10]:
print (GDP.columns.tolist())

['Country Name', 'Country Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']

In [11]:
GDP = pd.melt(GDP, id_vars = ['Country Name', 'Country Code'], var_name = 'Year', value_name = 'GDP')

In [12]:
GDP['Year'] = pd.to_numeric(GDP['Year'])

In [13]:
GDP.head(10)

          Country Name Country Code  Year           GDP
0          Afghanistan          AFG  1960  5.377778e+08
1              Albania          ALB  1960           NaN
2              Algeria          DZA  1960  2.723649e+09
3       American Samoa          ASM  1960           NaN
4              Andorra          AND  1960           NaN
5               Angola          AGO  1960           NaN
6  Antigua and Barbuda          ATG  1960           NaN
7            Argentina          ARG  1960           NaN
8              Armenia          ARM  1960           NaN
9                Aruba          ABW  1960           NaN

In [14]:
athletes.head(7)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN

In [15]:
athleteNOC = athletes.merge(noc, left_on='NOC', right_on='NOC', how='left')

In [16]:
athleteNOC.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands

In [17]:
gdpAthlete = pd.merge(GDP, athleteNOC, left_on = ['Country Code', 'Year'], right_on = ['NOC', 'Year'], how='left')

In [18]:
gdpAthlete.drop(['ID', 'Team', 'Games', 'region'], axis=1, inplace=True)

In [19]:
gdpAthlete.sample(5)

,Country Name,Country Code,Year,GDP,Name,Sex,Age,Height,Weight,NOC,Season,City,Sport,Event,Medal
34584,Mexico,MEX,1976,8.902392e+10,Jos Luis Prez Soto,M,33.0,171.0,68.0,MEX,Summer,Montreal,Equestrianism,"Equestrianism Mixed Three-Day Event, Team",NaN
77856,United Kingdom,GBR,1994,1.140490e+12,Andrew Graham Bell,M,28.0,181.0,79.0,GBR,Winter,Lillehammer,Alpine Skiing,Alpine Skiing Men's Downhill,NaN
1079,Canada,CAN,1960,4.109345e+10,"Gabriele ""Gaby"" Mancini",M,20.0,NaN,57.0,CAN,Summer,Roma,Boxing,Boxing Men's Featherweight,NaN
36032,Sweden,SWE,1976,8.810211e+10,Lillemor Marie Johansson-Risby,F,20.0,161.0,56.0,SWE,Winter,Innsbruck,Cross Country Skiing,Cross Country Skiing Women's 4 x 5 kilometres ...,NaN
51955,United Kingdom,GBR,1984,4.614871e+11,"James Edward ""Jim"" Wood",M,31.0,176.0,78.0,GBR,Winter,Sarajevo,Biathlon,Biathlon Men's 4 x 7.5 kilometres Relay,NaN

In [20]:
gdpAthlete.shape

(163046, 15)

In [21]:
gdpAthlete = gdpAthlete[gdpAthlete['Name'].notna()]

In [22]:
gdpAthlete.shape

(151977, 15)

In [23]:
gdpAthlete['Medal'].fillna('DNW', inplace = True)

In [24]:
print(gdpAthlete.isnull().sum())

Country Name       0
Country Code       0
Year               0
GDP             9752
Name               0
Sex                0
Age              545
Height          7432
Weight          8104
NOC                0
Season             0
City               0
Sport              0
Event              0
Medal              0
dtype: int64

In [25]:
gdpAthlete = gdpAthlete[gdpAthlete['GDP'].notna()]
gdpAthlete = gdpAthlete[gdpAthlete['Age'].notna()]
gdpAthlete = gdpAthlete[gdpAthlete['Weight'].notna()]
gdpAthlete = gdpAthlete[gdpAthlete['Height'].notna()]

In [26]:
print(gdpAthlete.isnull().sum())

Country Name    0
Country Code    0
Year            0
GDP             0
Name            0
Sex             0
Age             0
Height          0
Weight          0
NOC             0
Season          0
City            0
Sport           0
Event           0
Medal           0
dtype: int64

In [27]:
gdpAthlete.shape

(133996, 15)

In [28]:
gdpAthlete.sample(5)

,Country Name,Country Code,Year,GDP,Name,Sex,Age,Height,Weight,NOC,Season,City,Sport,Event,Medal
44616,Australia,AUS,1984,1.935039e+11,Clyde Hefer,M,23.0,187.0,80.0,AUS,Summer,Los Angeles,Rowing,Rowing Men's Coxed Eights,Bronze
45945,Canada,CAN,1984,3.553726e+11,Allan Reddon,M,22.0,168.0,61.0,CAN,Summer,Los Angeles,Gymnastics,Gymnastics Men's Floor Exercise,DNW
111322,Hungary,HUN,2004,1.040666e+11,"Lszl Cseh, Jr.",M,18.0,188.0,83.0,HUN,Summer,Athina,Swimming,Swimming Men's 200 metres Individual Medley,DNW
60910,Spain,ESP,1988,3.751387e+11,Jos Andrs Ibez Puig,M,22.0,162.0,56.0,ESP,Summer,Seoul,Weightlifting,Weightlifting Men's Flyweight,DNW
84737,Moldova,MDA,1996,1.695130e+09,Valeriu Vlas,M,24.0,172.0,52.0,MDA,Summer,Atlanta,Athletics,Athletics Men's Marathon,DNW

In [29]:
gdpAthlete['Determining Year'] = gdpAthlete['Year'] - 4

In [30]:
gdpAthlete.head()

,Country Name,Country Code,Year,GDP,Name,Sex,Age,Height,Weight,NOC,Season,City,Sport,Event,Medal,Determining Year
0,Afghanistan,AFG,1960,5.377778e+08,Sultan Mohammad Dost,M,28.0,168.0,73.0,AFG,Summer,Roma,Wrestling,"Wrestling Men's Welterweight, Freestyle",DNW,1956
1,Afghanistan,AFG,1960,5.377778e+08,Abdul Ghafar Ghafoori,M,22.0,172.0,70.0,AFG,Summer,Roma,Athletics,Athletics Men's 4 x 100 metres Relay,DNW,1956
2,Afghanistan,AFG,1960,5.377778e+08,Ghulam Mohiddin Gunga,M,26.0,168.0,81.0,AFG,Summer,Roma,Wrestling,"Wrestling Men's Light-Heavyweight, Freestyle",DNW,1956
3,Afghanistan,AFG,1960,5.377778e+08,Mohammad Ibrahim Kederi,M,20.0,166.0,62.0,AFG,Summer,Roma,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,1956
4,Afghanistan,AFG,1960,5.377778e+08,Faiz Mohammad Khakshar,M,18.0,162.0,52.0,AFG,Summer,Roma,Wrestling,"Wrestling Men's Flyweight, Freestyle",DNW,1956

In [31]:
determineDF = pd.merge(GDP, gdpAthlete, left_on = ['Country Code', 'Year'], right_on = ['NOC', 'Determining Year'], how='right')

In [32]:
print(determineDF.isnull().sum())

Country Name_x      4371
Country Code_x      4371
Year_x              4371
GDP_x               6105
Country Name_y         0
Country Code_y         0
Year_y                 0
GDP_y                  0
Name                   0
Sex                    0
Age                    0
Height                 0
Weight                 0
NOC                    0
Season                 0
City                   0
Sport                  0
Event                  0
Medal                  0
Determining Year       0
dtype: int64

In [33]:
determineDF.shape

(133996, 20)

In [34]:
determineDF.drop(['Country Name_x', 'Country Code_x', 'Year_x'], axis=1, inplace=True)

In [35]:
determineDF.head(5)

,GDP_x,Country Name_y,Country Code_y,Year_y,GDP_y,Name,Sex,Age,Height,Weight,NOC,Season,City,Sport,Event,Medal,Determining Year
0,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Mohammad Ebrahimi,M,26.0,160.0,63.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,1960
1,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Faiz Mohammad Khakshar,M,22.0,162.0,52.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Flyweight, Freestyle",DNW,1960
2,NaN,Argentina,ARG,1964,2.560525e+10,Hctor H. Acosta,M,30.0,180.0,81.0,ARG,Summer,Tokyo,Cycling,Cycling Men's 100 kilometres Team Time Trial,DNW,1960
3,NaN,Argentina,ARG,1964,2.560525e+10,Juan Aguilar,M,21.0,174.0,75.0,ARG,Summer,Tokyo,Boxing,Boxing Men's Middleweight,DNW,1960
4,NaN,Argentina,ARG,1964,2.560525e+10,Abel Csar Almaraz,M,22.0,152.0,54.0,ARG,Summer,Tokyo,Boxing,Boxing Men's Bantamweight,DNW,1960

In [36]:
determineDF.iloc[0]['GDP_y']

800000044.4444444

In [37]:
determineDF = determineDF[determineDF['GDP_x'].notna()]

In [38]:
determineDF.head()

,GDP_x,Country Name_y,Country Code_y,Year_y,GDP_y,Name,Sex,Age,Height,Weight,NOC,Season,City,Sport,Event,Medal,Determining Year
0,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Mohammad Ebrahimi,M,26.0,160.0,63.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,1960
1,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Faiz Mohammad Khakshar,M,22.0,162.0,52.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Flyweight, Freestyle",DNW,1960
149,1.859335e+10,Australia,AUS,1964,2.378766e+10,Michael H. G. Ah Matt,M,21.0,188.0,73.0,AUS,Summer,Tokyo,Basketball,Basketball Men's Basketball,DNW,1960
150,1.859335e+10,Australia,AUS,1964,2.378766e+10,"Ian Graeme Keith ""Mick"" Allen",M,26.0,190.0,84.0,AUS,Summer,Tokyo,Rowing,Rowing Men's Coxed Fours,DNW,1960
151,1.859335e+10,Australia,AUS,1964,2.378766e+10,"Edward James ""Ted"" Allsopp",M,38.0,179.0,80.0,AUS,Summer,Tokyo,Athletics,Athletics Men's 50 kilometres Walk,DNW,1960

In [39]:
determineDF.shape

(127891, 17)

In [40]:
determineDF.reset_index(drop=True).head(3)

,GDP_x,Country Name_y,Country Code_y,Year_y,GDP_y,Name,Sex,Age,Height,Weight,NOC,Season,City,Sport,Event,Medal,Determining Year
0,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Mohammad Ebrahimi,M,26.0,160.0,63.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,1960
1,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Faiz Mohammad Khakshar,M,22.0,162.0,52.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Flyweight, Freestyle",DNW,1960
2,1.859335e+10,Australia,AUS,1964,2.378766e+10,Michael H. G. Ah Matt,M,21.0,188.0,73.0,AUS,Summer,Tokyo,Basketball,Basketball Men's Basketball,DNW,1960

In [41]:
determineDF = determineDF.rename({'GDP_x': 'Games Year GDP', 'Country Name_y': 'Country', 'Country Code_y': 'Country Code','Year_y': 'Games Year', 'GDP_y':'Deter Year GDP'}, axis=1)

In [42]:
determineDF = determineDF[['Name', 'Country', 'Sex', 'Age', 'Weight', 'Height', 'Sport', 'Event', 'Medal', 'Games Year', 'Games Year GDP', 'Determining Year', 'Deter Year GDP', 'Season', 'City', 'NOC', 'Country Code']]
determineDF.head()

,Name,Country,Sex,Age,Weight,Height,Sport,Event,Medal,Games Year,Games Year GDP,Determining Year,Deter Year GDP,Season,City,NOC,Country Code
0,Mohammad Ebrahimi,Afghanistan,M,26.0,63.0,160.0,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,1964,5.377778e+08,1960,8.000000e+08,Summer,Tokyo,AFG,AFG
1,Faiz Mohammad Khakshar,Afghanistan,M,22.0,52.0,162.0,Wrestling,"Wrestling Men's Flyweight, Freestyle",DNW,1964,5.377778e+08,1960,8.000000e+08,Summer,Tokyo,AFG,AFG
149,Michael H. G. Ah Matt,Australia,M,21.0,73.0,188.0,Basketball,Basketball Men's Basketball,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
150,"Ian Graeme Keith ""Mick"" Allen",Australia,M,26.0,84.0,190.0,Rowing,Rowing Men's Coxed Fours,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
151,"Edward James ""Ted"" Allsopp",Australia,M,38.0,80.0,179.0,Athletics,Athletics Men's 50 kilometres Walk,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS

In [43]:
determineDF.reset_index(drop=True)

,Name,Country,Sex,Age,Weight,Height,Sport,Event,Medal,Games Year,Games Year GDP,Determining Year,Deter Year GDP,Season,City,NOC,Country Code
0,Mohammad Ebrahimi,Afghanistan,M,26.0,63.0,160.0,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,1964,5.377778e+08,1960,8.000000e+08,Summer,Tokyo,AFG,AFG
1,Faiz Mohammad Khakshar,Afghanistan,M,22.0,52.0,162.0,Wrestling,"Wrestling Men's Flyweight, Freestyle",DNW,1964,5.377778e+08,1960,8.000000e+08,Summer,Tokyo,AFG,AFG
2,Michael H. G. Ah Matt,Australia,M,21.0,73.0,188.0,Basketball,Basketball Men's Basketball,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
3,"Ian Graeme Keith ""Mick"" Allen",Australia,M,26.0,84.0,190.0,Rowing,Rowing Men's Coxed Fours,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
4,"Edward James ""Ted"" Allsopp",Australia,M,38.0,80.0,179.0,Athletics,Athletics Men's 50 kilometres Walk,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
5,"Judith Florence ""Judy"" Amoore-Pollock",Australia,F,24.0,55.0,163.0,Athletics,Athletics Women's 400 metres,Bronze,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
6,Kevin Ashley Bacon,Australia,M,32.0,66.0,167.0,Equestrianism,"Equestrianism Mixed Jumping, Individual",DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
7,Kevin Ashley Bacon,Australia,M,32.0,66.0,167.0,Equestrianism,"Equestrianism Mixed Jumping, Team",DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
8,Robert Alexander Baird,Australia,M,21.0,78.0,184.0,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
9,"Anthony Kenneth ""Tony"" Barber",Australia,M,24.0,68.0,166.0,Boxing,Boxing Men's Light-Middleweight,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
10,"Nicol ""Nicky"" Barnes",Australia,M,23.0,72.0,177.0,Water Polo,Water Polo Men's Water Polo,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
11,"Janice May ""Jan"" Bedford (-Pyke)",Australia,F,19.0,51.0,151.0,Gymnastics,Gymnastics Women's Individual All-Around,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
12,"Janice May ""Jan"" Bedford (-Pyke)",Australia,F,19.0,51.0,151.0,Gymnastics,Gymnastics Women's Team All-Around,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
13,"Janice May ""Jan"" Bedford (-Pyke)",Australia,F,19.0,51.0,151.0,Gymnastics,Gymnastics Women's Floor Exercise,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
14,"Janice May ""Jan"" Bedford (-Pyke)",Australia,F,19.0,51.0,151.0,Gymnastics,Gymnastics Women's Horse Vault,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
15,"Janice May ""Jan"" Bedford (-Pyke)",Australia,F,19.0,51.0,151.0,Gymnastics,Gymnastics Women's Uneven Bars,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
16,"Janice May ""Jan"" Bedford (-Pyke)",Australia,F,19.0,51.0,151.0,Gymnastics,Gymnastics Women's Balance Beam,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
17,"Lynette ""Lyn"" Bell (-Chipchase)",Australia,F,17.0,57.0,167.0,Swimming,Swimming Women's 100 metres Freestyle,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
18,"Lynette ""Lyn"" Bell (-Chipchase)",Australia,F,17.0,57.0,167.0,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Silver,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
19,Joyce Elaine Bennett (-Sala Tenna),Australia,F,19.0,63.0,168.0,Athletics,Athletics Women's 200 metres,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
20,Joyce Elaine Bennett (-Sala Tenna),Australia,F,19.0,63.0,168.0,Athletics,Athletics Women's 4 x 100 metres Relay,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
21,Kevin John Berry,Australia,M,19.0,71.0,172.0,Swimming,Swimming Men's 200 metres Butterfly,Gold,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
22,Kevin John Berry,Australia,M,19.0,71.0,172.0,Swimming,Swimming Men's 4 x 100 metres Medley Relay,Bronze,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
23,Eric James Bigby,Australia,M,24.0,80.0,185.0,Athletics,Athletics Men's 4 x 100 metres Relay,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
24,"Raymond Victor ""Ray"" Bilney",Australia,M,18.0,67.0,173.0,Cycling,"Cycling Men's Road Race, Individual",DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
25,Marilyn Mary Black (-Vassella),Australia,F,20.0,55.0,165.0,Athletics,Athletics Women's 100 metres,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
26,Marilyn Mary Black (-Vassella),Australia,F,20.0,55.0,165.0,Athletics,Athletics Women's 200 metres,Bronze,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
27,Marilyn Mary Black (-Vassella),Australia,F,20.0,55.0,165.0,Athletics,Athletics Women's 4 x 100 metres Relay,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
28,Adrian Blair,Australia,M,20.0,62.0,166.0,Boxing,Boxing Men's Lightweight,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
29,"Anthony Arthur C. ""Tony"" Blue",Australia,M,28.0,66.0,180.0,Athletics,Athletics Men's 800 metres,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127861,Andrey Petrov,Uzbekistan,M,29.0,62.0,169.0,Athletics,Athletics Men's Marathon,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127862,Svetlana Mikhaylovna Radzivil,Uzbekistan,F,29.0,61.0,186.0,Athletics,Athletics Women's High Jump,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127863,Nikita Igorevich Rafalovich,Uzbekistan,M,22.0,78.0,190.0,Taekwondo,Taekwondo Men's Welterweight,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127864,Abbos Rakhmonov,Uzbekistan,M,18.0,57.0,161.0,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127865,Elshod Yunusovich Rasulov,Uzbekistan,M,30.0,75.0,180.0,Boxing,Boxing Men's Light-Heavyweight,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127866,Marta Rostoburova,Uzbekistan,F,20.0,56.0,163.0,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Group,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127867,Shakhzodbek Sabirov,Uzbekistan,M,23.0,81.0,183.0,Judo,Judo Men's Half-Middleweight,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127868,Anastasiya Serdyukova,Uzbekistan,F,19.0,49.0,170.0,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Individual,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127869,Babur Shakirdzhanov,Uzbekistan,M,25.0,105.0,195.0,Athletics,Athletics Men's Javelin Throw,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127870,Mirali Sharipov,Uzbekistan,M,28.0,73.0,173.0,Judo,Judo Men's Lightweight,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127871,Dmitry Aleksandrovich Shokin,Uzbekistan,M,24.0,97.0,193.0,Taekwondo,Taekwondo Men's Heavyweight,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127872,Vadim Skorovarov,Uzbekistan,M,19.0,67.0,177.0,Shooting,"Shooting Men's Air Rifle, 10 metres",DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127873,Rishod Rashidovich Sobirov,Uzbekistan,M,29.0,66.0,168.0,Judo,Judo Men's Half-Lightweight,Bronze,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127874,Abdullo Tovashevich Tangriyev,Uzbekistan,M,35.0,132.0,190.0,Judo,Judo Men's Heavyweight,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127875,Yuliya Aleksandrovna Tarasova,Uzbekistan,F,30.0,66.0,174.0,Athletics,Athletics Women's Long Jump,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127876,Elmurat Zulypkarovich Tasmuradov,Uzbekistan,M,24.0,59.0,160.0,Wrestling,"Wrestling Men's Featherweight, Greco-Roman",Bronze,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127877,Khurshid Todzhiboyev,Uzbekistan,M,26.0,54.0,166.0,Boxing,Boxing Men's Lightweight,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127878,Rustam Tulaganov,Uzbekistan,M,24.0,91.0,186.0,Boxing,Boxing Men's Heavyweight,Bronze,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127879,Dilshodzhon Turdiyev,Uzbekistan,M,24.0,75.0,172.0,Wrestling,"Wrestling Men's Middleweight, Greco-Roman",DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127880,Nigora Tursunkulova,Uzbekistan,F,17.0,67.0,181.0,Taekwondo,Taekwondo Women's Welterweight,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127881,Olga Vladimirovna Umaraliyeva,Uzbekistan,F,28.0,58.0,161.0,Canoeing,"Canoeing Women's Kayak Singles, 200 metres",DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127882,Diyorbek Urozboyev,Uzbekistan,M,22.0,60.0,172.0,Judo,Judo Men's Extra-Lightweight,Bronze,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127883,Yekaterina Voronina,Uzbekistan,F,24.0,65.0,173.0,Athletics,Athletics Women's Heptathlon,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127884,Ivan Yefremov,Uzbekistan,M,30.0,108.0,183.0,Weightlifting,Weightlifting Men's Heavyweight,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127885,Doston Yokubov,Uzbekistan,M,21.0,69.0,158.0,Weightlifting,Weightlifting Men's Lightweight,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127886,Ivan Viktorovich Zaytsev,Uzbekistan,M,27.0,95.0,192.0,Athletics,Athletics Men's Javelin Throw,DNW,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127887,Shakhobiddin Shokirovich Zoirov,Uzbekistan,M,23.0,52.0,169.0,Boxing,Boxing Men's Flyweight,Gold,2016,5.182157e+10,2012,6.722034e+10,Summer,Rio de Janeiro,UZB,UZB
127888,Nooran Ahmed Ali Ba Matraf,"Yemen, Rep.",F,16.0,60.0,166.0,Swimming,Swimming Women's 100 metres Butterfly,DNW,2016,3.539315e+10,2012,2.731761e+10,Summer,Rio de Janeiro,YEM,YEM
127889,Zeyad Mater,"Yemen, Rep.",M,24.0,73.0,174.0,Judo,Judo Men's Lightweight,DNW,2016,3.539315e+10,2012,2.731761e+10,Summer,Rio de Janeiro,YEM,YEM
127890,Mohammed Rageh,"Yemen, Rep.",M,18.0,64.0,169.0,Athletics,"Athletics Men's 1,500 metres",DNW,2016,3.539315e+10,2012,2.731761e+10,Summer,Rio de Janeiro,YEM,YEM

In [44]:
cols = list(determineDF.columns)
cols.remove('Name')
cols.remove('Country')
cols.remove('Sex')
cols.remove('Age')
cols.remove('Weight')
cols.remove('Height')
cols.remove('Sport')
cols.remove('Event')
cols.remove('Medal')
cols.remove('Games Year')
cols.remove('Determining Year')
cols.remove('Season')
cols.remove('City')
cols.remove('NOC')
cols.remove('Country Code')

In [45]:
determineDF[cols].head()

     Games Year GDP  Deter Year GDP
0      5.377778e+08    8.000000e+08
1      5.377778e+08    8.000000e+08
149    1.859335e+10    2.378766e+10
150    1.859335e+10    2.378766e+10
151    1.859335e+10    2.378766e+10

In [46]:
for col in cols:
    col_zscore = col + '_zscore'
    determineDF[col_zscore] = (determineDF[col] - determineDF[col].mean())/determineDF[col].std(ddof=0)
determineDF.head()

,Name,Country,Sex,Age,Weight,Height,Sport,Event,Medal,Games Year,Games Year GDP,Determining Year,Deter Year GDP,Season,City,NOC,Country Code,Games Year GDP_zscore,Deter Year GDP_zscore
0,Mohammad Ebrahimi,Afghanistan,M,26.0,63.0,160.0,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,1964,5.377778e+08,1960,8.000000e+08,Summer,Tokyo,AFG,AFG,-0.482547,-0.497700
1,Faiz Mohammad Khakshar,Afghanistan,M,22.0,52.0,162.0,Wrestling,"Wrestling Men's Flyweight, Freestyle",DNW,1964,5.377778e+08,1960,8.000000e+08,Summer,Tokyo,AFG,AFG,-0.482547,-0.497700
149,Michael H. G. Ah Matt,Australia,M,21.0,73.0,188.0,Basketball,Basketball Men's Basketball,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS,-0.475742,-0.490351
150,"Ian Graeme Keith ""Mick"" Allen",Australia,M,26.0,84.0,190.0,Rowing,Rowing Men's Coxed Fours,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS,-0.475742,-0.490351
151,"Edward James ""Ted"" Allsopp",Australia,M,38.0,80.0,179.0,Athletics,Athletics Men's 50 kilometres Walk,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS,-0.475742,-0.490351

In [47]:
#if athlete won medals then exceed 1, if not tehn exceeds 0
determineDF['Medal_Won'] = np.where(determineDF.loc[:,'Medal'] == 'DNW', 0, 1)

In [48]:
determineDF.to_csv('athleteGDP.csv', sep=',')