In [82]:
import networkx as nx
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [83]:
athletes = pd.read_csv('athlete_events.csv')
athletes.shape

(271116, 15)

In [84]:
GDP = pd.read_excel('w_gdp.xls', skiprows=3)
GDP.shape

(219, 62)

In [85]:
noc = pd.read_csv('noc_regions.csv')
noc.shape

(230, 3)

In [86]:
noc.drop(['notes'], axis=1, inplace=True)

In [87]:
GDP.drop(['Indicator Name', 'Indicator Code'], axis=1, inplace=True)

In [88]:
#new_header = GDP.iloc[2] 
#GDP = GDP[3:] 
#GDP.columns = new_header

In [89]:
GDP.head(3)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,AFG,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.921556e+10,1.946902e+10,NaN
1,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.133526e+10,1.186387e+10,NaN
2,Algeria,DZA,2.723649e+09,2.434777e+09,2.001469e+09,2.703015e+09,2.909352e+09,3.136259e+09,3.039835e+09,3.370843e+09,...,1.710007e+11,1.372110e+11,1.612073e+11,2.000191e+11,2.090590e+11,2.097550e+11,2.138100e+11,1.658743e+11,1.590491e+11,NaN

In [90]:
#GDP.reset_index(drop =True).head(3)

In [91]:
print (GDP.columns.tolist())

['Country Name', 'Country Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']

In [92]:
GDP = pd.melt(GDP, id_vars = ['Country Name', 'Country Code'], var_name = 'Year', value_name = 'GDP')

In [93]:
GDP['Year'] = pd.to_numeric(GDP['Year'])

In [94]:
GDP.head(10)

          Country Name Country Code  Year           GDP
0          Afghanistan          AFG  1960  5.377778e+08
1              Albania          ALB  1960           NaN
2              Algeria          DZA  1960  2.723649e+09
3       American Samoa          ASM  1960           NaN
4              Andorra          AND  1960           NaN
5               Angola          AGO  1960           NaN
6  Antigua and Barbuda          ATG  1960           NaN
7            Argentina          ARG  1960           NaN
8              Armenia          ARM  1960           NaN
9                Aruba          ABW  1960           NaN

In [95]:
athletes.head(7)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN

In [96]:
athleteNOC = athletes.merge(noc, left_on='NOC', right_on='NOC', how='left')

In [97]:
athleteNOC.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands

In [98]:
gdpAthlete = pd.merge(GDP, athleteNOC, left_on = ['Country Code', 'Year'], right_on = ['NOC', 'Year'], how='left')

In [99]:
gdpAthlete.drop(['ID', 'Team', 'Games', 'region'], axis=1, inplace=True)

In [100]:
gdpAthlete.sample(5)

,Country Name,Country Code,Year,GDP,Name,Sex,Age,Height,Weight,NOC,Season,City,Sport,Event,Medal
18665,Mexico,MEX,1968,2.936363e+10,Lourdes Roldn Reyna,F,24.0,169.0,62.0,MEX,Summer,Mexico City,Fencing,"Fencing Women's Foil, Team",NaN
196,Australia,AUS,1960,1.859335e+10,William Charles Burton,M,18.0,NaN,NaN,AUS,Summer,Roma,Swimming,Swimming Men's 4 x 100 metres Medley Relay,Silver
79655,Belgium,BEL,1996,2.813582e+11,Stanny Van Paesschen,M,39.0,183.0,80.0,BEL,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Jumping, Team",NaN
113370,Kyrgyz Republic,KGZ,2004,2.211535e+09,Pavel Uvarov,M,33.0,185.0,84.0,KGZ,Summer,Athina,Modern Pentathlon,Modern Pentathlon Men's Individual,NaN
107358,Uganda,UGA,2003,6.336696e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
gdpAthlete.shape

(163046, 15)

In [102]:
gdpAthlete = gdpAthlete[gdpAthlete['Name'].notna()]

In [103]:
gdpAthlete.shape

(151977, 15)

In [104]:
gdpAthlete['Medal'].fillna('DNW', inplace = True)

In [105]:
print(gdpAthlete.isnull().sum())

Country Name       0
Country Code       0
Year               0
GDP             9752
Name               0
Sex                0
Age              545
Height          7432
Weight          8104
NOC                0
Season             0
City               0
Sport              0
Event              0
Medal              0
dtype: int64

In [106]:
gdpAthlete = gdpAthlete[gdpAthlete['GDP'].notna()]
gdpAthlete = gdpAthlete[gdpAthlete['Age'].notna()]
gdpAthlete = gdpAthlete[gdpAthlete['Weight'].notna()]
gdpAthlete = gdpAthlete[gdpAthlete['Height'].notna()]

In [107]:
print(gdpAthlete.isnull().sum())

Country Name    0
Country Code    0
Year            0
GDP             0
Name            0
Sex             0
Age             0
Height          0
Weight          0
NOC             0
Season          0
City            0
Sport           0
Event           0
Medal           0
dtype: int64

In [108]:
gdpAthlete.shape

(133996, 15)

In [109]:
gdpAthlete.sample(5)

,Country Name,Country Code,Year,GDP,Name,Sex,Age,Height,Weight,NOC,Season,City,Sport,Event,Medal
86881,Sweden,SWE,1996,2.881039e+11,Lars Evert Patrik Hedner,M,29.0,188.0,78.0,SWE,Summer,Atlanta,Athletics,Athletics Men's 200 metres,DNW
27966,Spain,ESP,1972,5.897181e+10,Francisco Fernndez Ochoa,M,21.0,171.0,65.0,ESP,Winter,Sapporo,Alpine Skiing,Alpine Skiing Men's Giant Slalom,DNW
70628,Mali,MLI,1992,2.830673e+09,Ousmane Diarra,M,25.0,186.0,82.0,MLI,Summer,Barcelona,Athletics,Athletics Men's 100 metres,DNW
25732,Japan,JPN,1972,3.163933e+11,Akitsugu Konno,M,27.0,162.0,53.0,JPN,Winter,Sapporo,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",DNW
134896,Kazakhstan,KAZ,2010,1.480473e+11,Yelena Vladimirovna Khrustalyova,F,29.0,162.0,53.0,KAZ,Winter,Vancouver,Biathlon,Biathlon Women's 15 kilometres,Silver

In [111]:
gdpAthlete['Determining Year'] = gdpAthlete['Year'] - 4

In [112]:
gdpAthlete.head()

,Country Name,Country Code,Year,GDP,Name,Sex,Age,Height,Weight,NOC,Season,City,Sport,Event,Medal,Determining Year
0,Afghanistan,AFG,1960,5.377778e+08,Sultan Mohammad Dost,M,28.0,168.0,73.0,AFG,Summer,Roma,Wrestling,"Wrestling Men's Welterweight, Freestyle",DNW,1956
1,Afghanistan,AFG,1960,5.377778e+08,Abdul Ghafar Ghafoori,M,22.0,172.0,70.0,AFG,Summer,Roma,Athletics,Athletics Men's 4 x 100 metres Relay,DNW,1956
2,Afghanistan,AFG,1960,5.377778e+08,Ghulam Mohiddin Gunga,M,26.0,168.0,81.0,AFG,Summer,Roma,Wrestling,"Wrestling Men's Light-Heavyweight, Freestyle",DNW,1956
3,Afghanistan,AFG,1960,5.377778e+08,Mohammad Ibrahim Kederi,M,20.0,166.0,62.0,AFG,Summer,Roma,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,1956
4,Afghanistan,AFG,1960,5.377778e+08,Faiz Mohammad Khakshar,M,18.0,162.0,52.0,AFG,Summer,Roma,Wrestling,"Wrestling Men's Flyweight, Freestyle",DNW,1956

In [113]:
determineDF = pd.merge(GDP, gdpAthlete, left_on = ['Country Code', 'Year'], right_on = ['NOC', 'Determining Year'], how='right')

In [114]:
print(determineDF.isnull().sum())

Country Name_x      4371
Country Code_x      4371
Year_x              4371
GDP_x               6105
Country Name_y         0
Country Code_y         0
Year_y                 0
GDP_y                  0
Name                   0
Sex                    0
Age                    0
Height                 0
Weight                 0
NOC                    0
Season                 0
City                   0
Sport                  0
Event                  0
Medal                  0
Determining Year       0
dtype: int64

In [115]:
determineDF.shape

(133996, 20)

In [116]:
determineDF.drop(['Country Name_x', 'Country Code_x', 'Year_x'], axis=1, inplace=True)

In [117]:
determineDF.head(5)

,GDP_x,Country Name_y,Country Code_y,Year_y,GDP_y,Name,Sex,Age,Height,Weight,NOC,Season,City,Sport,Event,Medal,Determining Year
0,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Mohammad Ebrahimi,M,26.0,160.0,63.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,1960
1,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Faiz Mohammad Khakshar,M,22.0,162.0,52.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Flyweight, Freestyle",DNW,1960
2,NaN,Argentina,ARG,1964,2.560525e+10,Hctor H. Acosta,M,30.0,180.0,81.0,ARG,Summer,Tokyo,Cycling,Cycling Men's 100 kilometres Team Time Trial,DNW,1960
3,NaN,Argentina,ARG,1964,2.560525e+10,Juan Aguilar,M,21.0,174.0,75.0,ARG,Summer,Tokyo,Boxing,Boxing Men's Middleweight,DNW,1960
4,NaN,Argentina,ARG,1964,2.560525e+10,Abel Csar Almaraz,M,22.0,152.0,54.0,ARG,Summer,Tokyo,Boxing,Boxing Men's Bantamweight,DNW,1960

In [118]:
determineDF.iloc[0]['GDP_y']

800000044.4444444

In [119]:
determineDF = determineDF[determineDF['GDP_x'].notna()]

In [120]:
determineDF.head()

,GDP_x,Country Name_y,Country Code_y,Year_y,GDP_y,Name,Sex,Age,Height,Weight,NOC,Season,City,Sport,Event,Medal,Determining Year
0,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Mohammad Ebrahimi,M,26.0,160.0,63.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,1960
1,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Faiz Mohammad Khakshar,M,22.0,162.0,52.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Flyweight, Freestyle",DNW,1960
149,1.859335e+10,Australia,AUS,1964,2.378766e+10,Michael H. G. Ah Matt,M,21.0,188.0,73.0,AUS,Summer,Tokyo,Basketball,Basketball Men's Basketball,DNW,1960
150,1.859335e+10,Australia,AUS,1964,2.378766e+10,"Ian Graeme Keith ""Mick"" Allen",M,26.0,190.0,84.0,AUS,Summer,Tokyo,Rowing,Rowing Men's Coxed Fours,DNW,1960
151,1.859335e+10,Australia,AUS,1964,2.378766e+10,"Edward James ""Ted"" Allsopp",M,38.0,179.0,80.0,AUS,Summer,Tokyo,Athletics,Athletics Men's 50 kilometres Walk,DNW,1960

In [121]:
determineDF.shape

(127891, 17)

In [122]:
determineDF.reset_index(drop=True).head(3)

,GDP_x,Country Name_y,Country Code_y,Year_y,GDP_y,Name,Sex,Age,Height,Weight,NOC,Season,City,Sport,Event,Medal,Determining Year
0,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Mohammad Ebrahimi,M,26.0,160.0,63.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,1960
1,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Faiz Mohammad Khakshar,M,22.0,162.0,52.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Flyweight, Freestyle",DNW,1960
2,1.859335e+10,Australia,AUS,1964,2.378766e+10,Michael H. G. Ah Matt,M,21.0,188.0,73.0,AUS,Summer,Tokyo,Basketball,Basketball Men's Basketball,DNW,1960

In [123]:
determineDF = determineDF.rename({'GDP_x': 'Games Year GDP', 'Country Name_y': 'Country', 'Country Code_y': 'Country Code','Year_y': 'Games Year', 'GDP_y':'Deter Year GDP'}, axis=1)

In [124]:
determineDF.head(3)

,Games Year GDP,Country,Country Code,Games Year,Deter Year GDP,Name,Sex,Age,Height,Weight,NOC,Season,City,Sport,Event,Medal,Determining Year
0,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Mohammad Ebrahimi,M,26.0,160.0,63.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,1960
1,5.377778e+08,Afghanistan,AFG,1964,8.000000e+08,Faiz Mohammad Khakshar,M,22.0,162.0,52.0,AFG,Summer,Tokyo,Wrestling,"Wrestling Men's Flyweight, Freestyle",DNW,1960
149,1.859335e+10,Australia,AUS,1964,2.378766e+10,Michael H. G. Ah Matt,M,21.0,188.0,73.0,AUS,Summer,Tokyo,Basketball,Basketball Men's Basketball,DNW,1960

In [126]:
determineDF = determineDF[['Name', 'Country', 'Sex', 'Age', 'Weight', 'Height', 'Sport', 'Event', 'Medal', 'Games Year', 'Games Year GDP', 'Determining Year', 'Deter Year GDP', 'Season', 'City', 'NOC', 'Country Code']]
determineDF.head()

,Name,Country,Sex,Age,Weight,Height,Sport,Event,Medal,Games Year,Games Year GDP,Determining Year,Deter Year GDP,Season,City,NOC,Country Code
0,Mohammad Ebrahimi,Afghanistan,M,26.0,63.0,160.0,Wrestling,"Wrestling Men's Featherweight, Freestyle",DNW,1964,5.377778e+08,1960,8.000000e+08,Summer,Tokyo,AFG,AFG
1,Faiz Mohammad Khakshar,Afghanistan,M,22.0,52.0,162.0,Wrestling,"Wrestling Men's Flyweight, Freestyle",DNW,1964,5.377778e+08,1960,8.000000e+08,Summer,Tokyo,AFG,AFG
149,Michael H. G. Ah Matt,Australia,M,21.0,73.0,188.0,Basketball,Basketball Men's Basketball,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
150,"Ian Graeme Keith ""Mick"" Allen",Australia,M,26.0,84.0,190.0,Rowing,Rowing Men's Coxed Fours,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS
151,"Edward James ""Ted"" Allsopp",Australia,M,38.0,80.0,179.0,Athletics,Athletics Men's 50 kilometres Walk,DNW,1964,1.859335e+10,1960,2.378766e+10,Summer,Tokyo,AUS,AUS

In [ ]:
gdp.to_csv('athleteGDP.csv', sep=',')